/****************************************************************************************************

  VistaElevate.rc

****************************************************************************************************/

1 24 "VistaElevate.manifest"
